/* Estilo general para el main */
main {
    margin: auto;
    padding: 30px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #f1f1f1;
    background-color: #2a2a2a;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Estilo del subtítulo */
#Subtitulo {
    font-size: 2rem;
    text-align: center;
    color: #ffcc00;
    margin-bottom: 10px;
}

/* Estilo del párrafo */
.parrafo {
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 20px;
    color: #e0e0e0;
}
