/*
  Estilo para el contenedor principal de los formularios de eventos.
  Se utiliza flexbox para alinear los componentes de manera horizontal.
*/
.EventsForms {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    gap: 20px; 
    width: 100%;
  }

/** Estilo para cada componente dentro de EventsForms */
.EventsForms > * {
    margin-top: 0;
    padding-top: 0;
    width: 50%;
  }

h3 {
    text-align: center;
    color: #ffcc00;
    margin-bottom: 10px;
  }

#EventsForms {
    background: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px; /* Espacio superior para separar del header */
}